<div class="dashboard-content">
  <h4 class="dashboard-title">
    <i class="fas fa-book"></i> Bookings Management
  </h4>

  <div class="row justify-content-center">
    <div class="col-12">
      <div *ngIf="showSuccessMessage" class="alert alert-success">
        <i class="fas fa-check-circle"></i> {{ successMessage }}
      </div>
      <div *ngIf="showError" class="alert alert-danger">
        <i class="fas fa-exclamation-circle"></i> {{ errorMessage }}
      </div>
    </div>

    <div class="col-12">
      <div class="card dashboard-card">
        <div class="card-header">
          <i class="fas fa-list"></i> Booking List
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="transparent-table">
              <thead>
                <tr>
                  <th><i class="fas fa-hashtag"></i> Sr#</th>
                  <th><i class="fas fa-car"></i> Car</th>
                  <th><i class="fas fa-calendar-alt"></i> Start Date</th>
                  <th><i class="fas fa-calendar-alt"></i> End Date</th>
                  <th><i class="fas fa-money-bill-wave"></i> Amount</th>
                  <th><i class="fas fa-info-circle"></i> Status</th>
                  <th><i class="fas fa-user"></i> User</th>
                  <th><i class="fas fa-cogs"></i> Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let booking of bookings; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ booking.car.make }} {{ booking.car.model }}</td>
                  <td>{{ booking.rentalStartDate | date }}</td>
                  <td>{{ booking.rentalEndDate | date }}</td>
                  <td>{{ booking.totalAmount | currency:'USD' }}</td>
                  <td>
                    <span [ngClass]="booking.status.toLowerCase()">
                      {{ booking.status }}
                    </span>
                  </td>
                  <td>{{ booking.user.username }}</td>
                  <td>
                    <button *ngIf="booking.status === 'Pending'" class="btn custom-btn" 
                            (click)="acceptBooking(booking.id, 'Process Payment')">
                      <i class="fas fa-check"></i> Accept
                    </button>
                    <button *ngIf="booking.status === 'Process Payment'" class="btn custom-btn" 
                            (click)="showPaymentForm(booking)">
                      <i class="fas fa-credit-card"></i> Payment
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12" *ngIf="selectedBooking">
      <div class="card dashboard-card">
        <div class="card-header">
          <i class="fas fa-credit-card"></i> Process Payment
          <span>Booking ID: {{ selectedBooking.id }}</span>
        </div>
        <div class="card-body">
          <form [formGroup]="itemForm" (ngSubmit)="createPayment()">
            <div class="mb-3">
              <label for="amount" class="form-label">
                <i class="fas fa-money-bill-wave"></i> Amount
              </label>
              <input type="number" id="amount" formControlName="amount" class="form-control">
            </div>

            <div class="mb-3">
              <label for="paymentDate" class="form-label">
                <i class="fas fa-calendar-alt"></i> Payment Date
              </label>
              <input type="date" id="paymentDate" formControlName="paymentDate" class="form-control">
            </div>

            <div class="mb-3">
              <label for="paymentMethod" class="form-label">
                <i class="fas fa-credit-card"></i> Payment Method
              </label>
              <select id="paymentMethod" formControlName="paymentMethod" class="form-control">
                <option value="">Select Payment Method</option>
                <option value="credit-card">Credit Card</option>
                <option value="debit-card">Debit Card</option>
                <option value="paypal">PayPal</option>
                <option value="cashOnDelivery">Cash On Delivery</option>
              </select>
            </div>

            <div class="mb-3">
              <label for="paymentStatus" class="form-label">
                <i class="fas fa-info-circle"></i> Payment Status
              </label>
              <input type="text" id="paymentStatus" formControlName="paymentStatus" class="form-control">
            </div>

            <button type="submit" class="btn custom-btn" [disabled]="!itemForm.valid">
              <i class="fas fa-credit-card"></i> Process Payment
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
